In [1]:
10 + "A"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
a = 10

b = 20

print(type(a))
print(type(b))

print(a + b)

<class 'int'>
<class 'int'>
30

In [4]:
a = 100
b = 200

print(type(a))
print(type(b))

c = str(a)
d = str(b)

print(type(c))
print(type(d))

print(c + d)

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
100200

In [5]:
"A" + "B"

'AB'

In [9]:
"India" + " is the " + "Best"

'India is the Best'

In [10]:
a = 10.65

print(a)
print(type(a))

b = int(a)

print(type(b))
print(b)

10.65
<class 'float'>
<class 'int'>
10